// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Suranna&display=swap');
// Define fonts for body and headers
$body-font: 'Source Code Pro', monospace;
$headers-font: 'Roboto Mono', monospace;
// $my-font: 'Press Start 2P', cursive;
// $my-font: 'VT323', monospace;
$my-font: 'Roboto Mono', monospace;
// $my-font: 'Suranna', serif;
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
