
body {
  font-family: $my-font;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 50%;
}

.about {
  margin-top: 100px;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  animation: pulse-color 20s infinite alternate;
  padding: 24px;
  border-radius: 16px;
  justify-content: space-between;
  img {
    height: 300px;
    width: 300px;
    align-self: flex-end;
  }
}

.profile {
  align-self: center;
}

.definition {
  margin-left: 16px;
  p {
    margin: 1em;
  }
}

.glitch {
  color: black;
  position: relative;
  font-size: 4vw;
  animation: glitch 5s 5s infinite;
  text-align: center;
  width: 100%;
  // text-shadow: 0 0 100px rgba(223, 191, 191, 0.4);

}


.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  // background: $background-color;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
  width: 100%;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 #24FF00;
  // background: $background-color;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
  width: 100%;
}

@keyframes glitch {
  // 1%{
  //   // transform: rotateX(10deg) skewX(90deg);
  // }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

.glow {
  @extend .glitch;
  // text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
}

.subtitle {
  font-family: $body-font;
  font-weight: 100;
  font-size: 1vw;
  text-shadow: 0 0 100px rgba(223, 191, 191, 0.4);
  color: rgba(165, 141, 141, .4);
  letter-spacing: 1em;
  justify-content: center;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  // animation: pulse 2s infinite alternate;
}
@keyframes pulse-color {
  0% {
    box-shadow: 0 0 35px orange;
  }
  25% {
    box-shadow: 0 0 35px lightblue;
  }
  50% {
    box-shadow: 0 0 70px lightgreen;
  }
  75% {
    box-shadow: 0 0 70px rgb(223, 191, 191);
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glitch-2 {
  1%{
    transform: rotateX(10deg) skewX(70deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}
