<div class="main-container">
  <div class="container justify-content-center text-center pt-5">
    <div class="glitch text-center" data-text="Cassandra Dodd">
      Cassandra Dodd
    </div>
    <div class="glow text-center">
      Cassandra Dodd
    </div>
    <p class="subtitle">Web Developer</p>
  </div>
  <div class="cards d-flex justify-content-center flex-direction-row col-s-6">
    <div class="scene scene--card">
      <div class="card" id="card" style="width: 18rem;">
        <div class="card__face card__face--front">
          <img class="card-img" src="https://res.cloudinary.com/cassydodd95/image/upload/v1609427250/Yance_Home_kdte2s.png" alt="Card image cap">
        </div>
        <div class="card__face card__face--back">
          <p> Yance </p>
        </div>
      </div>
    </div>
    <div class="scene scene--card">
      <div class="card" style="width: 18rem;">
        <div class="card__face card__face--front">
          <img class="card-img" src="https://res.cloudinary.com/cassydodd95/image/upload/v1609426446/Heroes_Home_ddd3at.png" alt="Card image cap">
        </div>
        <div class="card__face card__face--back">
          back
        </div>
      </div>
    </div>
</div>
