<div class="main-container">
  <div class="container justify-content-center text-center pt-5">
    <div class="glitch text-center" data-text="Cassandra Dodd">
      Cassandra Dodd
    </div>
    <div class="glow text-center">
      Cassandra Dodd
    </div>
    <p class="subtitle">Web Developer</p>
  </div>
  <div class="cards d-flex justify-content-center flex-direction-row col-s-6">
  </div>
</div>
