<div class="main-container col-s-12 col-12">
  <div class="container justify-content-center text-center pt-5 col-s-8 col-12">
    <!-- <div class="glitch text-center" data-text="Cassandra Dodd">
      Cassandra Dodd
    </div>
    <div class="glow text-center">
      Cassandra Dodd
    </div>
    <p class="subtitle">Web Developer</p> -->
  </div>
  <div class="banner">
    <div class="profile d-flex justify-content-center">
      <img id="profile-pic" src="https://res.cloudinary.com/cassydodd95/image/upload/v1609438402/LinkedIn_Pic_copy_f8nyb3.png" alt="profile picture">
    </div>
  </div>
    <p class="subtitle mt-5">Web Developer</p>
  <div class="about col-s-12 col-12">
    <div>
      <div>
        <h3>def<strong> Cassandra</strong></h3>
      </div class="d-flex flex-direction-column">
      <div class="definition">
        <p>Creative, hard working and passionate about coding!
          Recently a bootcamp graduate of Le Wagon Berlin, I come from an academic background of modern (human) langauges. I have now expanded this love of language to computer languages!
        </p>
      </div>
      <div>
        <h3>end</h3>
      </div>
    </div>
  </div>
  <div class="project-cards-container col-s-12 col-m-6 col-12">
    <div class="cards">
      <div class="scene scene--card col-s-8 col-m-6 col-12">
        <div class="card col-s-8 col-m-6 col-12" id="card">
          <div class="card__face card__face--front">
            <img class="card-img" src="https://res.cloudinary.com/cassydodd95/image/upload/v1609427250/Yance_Home_kdte2s.png" alt="Card image cap">
          </div>
          <div class="card__face card__face--back">
            <p> Yance </p>
          </div>
        </div>
      </div>
      <div class="scene scene--card col-s-8 col-m-6 col-12">
        <div class="card col-s-8 col-m-6 col-12">
          <div class="card__face card__face--front">
            <img class="card-img" src="https://res.cloudinary.com/cassydodd95/image/upload/v1609426446/Heroes_Home_ddd3at.png" alt="Card image cap">
          </div>
          <div class="card__face card__face--back">
            back
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
