<div class="main-container col-s-12 col-12">
  <div class="banner">
    <div class="profile d-flex justify-content-center">
      <img id="profile-pic" src="https://res.cloudinary.com/cassydodd95/image/upload/v1609438402/LinkedIn_Pic_copy_f8nyb3.png" alt="profile picture">
    </div>
  </div>
    <p class="subtitle mt-5">Web Developer</p>
  <div class="title">
    <h3>Projects</h3>
  </div>
  <div class="project-cards-container col-s-12 col-m-6 col-12">
      <div class="mobile-icon">
        <h5 class="text-center mb-3">tap me 👇</h5>
        <a href="https://www.yancesport.com/" target="_blank">
          <img alt="Yance" id="yance-logo" src="https://res.cloudinary.com/cassydodd95/image/upload/v1609544281/Screenshot_2021-01-01_at_23.37.41_qjvo4t.png">
        </a>
        <a href="https://heroes-cassy-dodd.herokuapp.com/" target="_blank">
           <img alt="Heroes" id="hero-logo" src="https://res.cloudinary.com/cassydodd95/image/upload/v1609544281/Screenshot_2021-01-01_at_23.37.22_ylfsyn.png">
        </a>
      </div>
    <div class="cards">
      <div class="scene scene--card col-s-8 col-m-6 col-12">
        <div class="card col-s-8 col-m-6 col-12" id="card">
          <div class="card__face card__face--front">
            <img class="card-img" src="https://res.cloudinary.com/cassydodd95/image/upload/v1609547210/Screenshot_2021-01-02_at_00.26.06_jcy9x9.png" alt="Card image cap">
          </div>
          <div class="card__face card__face--back">
            <p> Created with Ruby on Rails, Javascript, Sass, HTML, Postgresql and Pg-search</p>
            <p>Click the logo</p>
            <a href="https://www.yancesport.com/" target="_blank">
              <img alt="Yance" src="https://res.cloudinary.com/cassydodd95/image/upload/v1609544281/Screenshot_2021-01-01_at_23.37.41_qjvo4t.png">
            </a>
          </div>
        </div>
      </div>
      <div class="scene scene--card col-s-8 col-m-6 col-12">
        <div class="card col-s-8 col-m-6 col-12">
          <div class="card__face card__face--front">
            <img class="card-img" src="https://res.cloudinary.com/cassydodd95/image/upload/v1609547220/Screenshot_2021-01-02_at_00.26.30_ed1k6z.png" alt="Card image cap">
          </div>
          <div class="card__face card__face--back">
            <p> Created with Ruby on Rails, CSS, HTML, Bootstrap</p>
            <p>Click the logo</p>
            <a href="https://heroes-cassy-dodd.herokuapp.com/" target="_blank">
              <img alt="Heroes" src="https://res.cloudinary.com/cassydodd95/image/upload/v1609544281/Screenshot_2021-01-01_at_23.37.22_ylfsyn.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about col-s-12 col-12 mb-5">
    <div>
      <div>
        <h3>def<strong> Cassandra</strong></h3>
      </div class="d-flex flex-direction-column">
      <div class="definition">
        <p>Creative, hard working and passionate about coding!
          Recently a bootcamp graduate of Le Wagon Berlin, I come from an academic background of modern (human) langauges. I have now expanded this love of language to computer languages!
        </p>
      </div>
      <div>
        <h3>end</h3>
      </div>
    </div>
  </div>
</div>
